/* -----------------------------------------------Reset User Agent */

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* -----------------------------------------------General Styles */

header {

}

main {

}

aside {

}

section {

}

footer {

}

code {
  display: block;
  background: black;
  color: white;
}

/*** Titles Structures Styles ***/

h1 {

}

h2 {

}

h3 {

}

/*** Link Structures Styles ***/

a {

}

a:hover {

}

a:focus {

}

a:active {

}

a:visited {

}

/* -----------------------------------------------Navigation Bar */

/*** List General Styles ***/

ul li {

}

ul {

}

ol {

}


/* -----------------------------------------------Grid */


/* -----------------------------------------------Form */

/* -----------------------------------------------Buttons */

/* -----------------------------------------------Helper Class */

/*** Positions ***/

.porel {
  position: relative;
}

.poabs {
  position: absolute;
}

.pofix {
  position: fixed;
}

.postat {
  position: static;
}

/*** Display ***/

.dblock {
  display: block;
}

.dinblock {
  display: inline-block;
}

.dflex {
  display: flex;
}

/*** Float ***/

.floatr {
  float: right;
}

.floatl {
  float: left;
}

.floatn {
  float: none;
}

.floatfix {
  clear: both;
}

/*** Hide Elements ***/

.dnone { /* full Hide elements  */
  display: none;
}

.visuallyhidden { /* elements still visible by DOM but not by User*/
  position: absolute;
  top:-999px; left:-9999px;
}

.visibhidden { /* hide content but space location still vsible*/
  visibility: hidden;
}

/*** Overflow ***/

.overhidden {
  overflow: hidden;
}

/*** Pb with Float ***/

.floatfix {
  clear: both;
}

/* -----------------------------------------------Media Queries */
@media and screen (min-wdith: ) and (max-width: ) {

}
